*.swp
*.swn
*.swl
*.orig
*.png
*.pdf
*.d
*___*
.*
./*.root
*_.cxx
/nbproject/private/
*~
lib/
tmp/
recoDisplay
src/WCSimAnalysisRootDict.cc
src/WCSimAnalysisRootDict.h
libWCSimAnalysis.a
*.sh.o*
*.sh.e*
*.root
*.so
*.sh.o*
*.sh.e*
config/pePDFs

CMakeCache.txt
CMakeFiles/
Makefile
WCSimAnalysisRootDict.cxx
cmake_install.cmake
libWCSimAnalysisRootDict.rootmap
libWCSimAnalysisRootDict_rdict.pcm
