*.swp
*.swn
*.swl
*.orig
*.png
*.pdf
*.d
*___*
.*
*_.cxx
/nbproject/private/
*~
lib/
tmp/

recodisplay
*.sh.o*
*.sh.e*
*.so
*.sh.o*
*.sh.e*

CMakeCache.txt
CMakeFiles/
Makefile
WCSimAnalysisRootDict.cxx
cmake_install.cmake
libWCSimAnalysisRootDict.rootmap
libWCSimAnalysisRootDict_rdict.pcm

config/electronIntegralsSmall.root
config/emissionProfilesElectrons.root
config/emissionProfilesMuons.root
config/muonIntegralsSmall.root
